@font-face{
  font-family:"Abel";
  src: url(Raleway-Light.ttf);
  font-display: swap!important;
}
.slider-container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  position: relative; 
  justify-content:center;
  display:block;
}
html{
  font-family:"Abel";
}

.carousel-slide {
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 0 15px;
  box-sizing: border-box; 
}
main{
  max-width:100vw;
}
.sneak{
  filter:drop-shadow(-10px 20px 20px #48CFCB);
}
.carousel-image {
  width: 100%;
  justify-content:center;
  margin:0;
  height: 30em;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform:translateY(70px);
}

.carousel-text-container {
  background-color: #2d3748;
  
  border-radius: 8px; 
  margin-top: 2rem;
}

.carousel-text {
  color: #EEF7FF;
  font-size: 1rem;
  margin: 0;
 
  padding:0.4rem;
}


.carousel-text-container ul {
  list-style-type: none; 
 padding:4px;
  margin:auto;
  width:100%;
}

.carousel-text-container ul li {
  color: #EEF7FF; 
  margin: 5px 0;
  
}
.carousel-text-container>ul {
 gap:1rem;
 display:grid;
  
}
.carousel-text-container>ul>li>a {
 padding:0.4rem
}
.carousel-text-container>ul>li>img {
  width:2.4rem;
  height:auto;
  object-fit:cover;
 }

.slick-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  transition: background-color 0.3s;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.slick-center .carousel-image {
  transform: scale(1.1) translateY(1rem);
  transition:all 0.5s ease;
  margin:auto;
}

.slick-slide:not(.slick-center) .carousel-image {
  opacity: 0.4;
  height:20em;
  width:50%;
  margin:auto;
  transition:all 0.5s ease;

}


.slick-slide {
  display:flex;
 gap:100px;
 
}



.carousel-image {
  width: 100%;
  margin: 0;

  height: 45vh;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-center .carousel-image {
  transform: scale(1.1) translateY(1rem);
  transition: all 0.5s ease;
  margin: auto;
}

.slick-slide:not(.slick-center) .carousel-image {
  opacity: 0.4;
  height: 20em;
  width: 50%;
  margin: auto;
  transition: all 0.5s ease;
}

.center-elements {
  
  display: none;
  position:absolute;
  margin:auto;
  right:0;
  width:100%;
  
 
}


.slick-center .center-elements {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carousel-price {
  background-color: #2c3e50;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.carousel-button {
  background-color: #16a085;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



.cart-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.cart-icon {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background: #1E201E !important;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index:100!important;
}

.cart-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  margin-bottom: 10px;
}

.cart-items button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.cart-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


body{
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color:black;
  max-width:100%;
  margin:auto;
  font-family: 'Abel', sans-serif;
  animation: 0.2s ease-in-out 0s 1 appear;
  font-weight: bold;

  font-display: swap!important;
}
.Sneaker{
  font-display: swap!important;
  animation: 0.2s ease-in-out 0s 1 appear;
  font-weight: 500;
}
.About{
  animation: 0.2s ease-in-out 0s 1 appear;
  font-weight: 500;
  font-display: swap!important;
}

.Login{
  animation: 0.2s ease-in-out 0s 1 appear;
  font-weight: 400;
  font-display: swap!important;
}
.Home{
  animation: 0.2s ease-in-out 0s 1 appear;
  font-family: 'Abel', sans-serif;
max-width:100vw;
font-display: swap!important;
}


li{
  display:flex;
  justify-content:center;
  align-items:center;
}
a{
  font-size:1rem;
  transition:all 0.1s ease-in-out;
  box-shadow: 3px 1px  #11235A;
  padding:0.7rem;
  border-radius:0.4rem;
  background-color:#EEF5FF;
}
a:hover{
  font-size:1rem;
  box-shadow: 0px 3px 5px  #15F5BA;
  transition:all 0.1s ease-in-out;
  background-color : #11235A;
  color:#EEF5FF;
}

@media screen and (max-width:550px){
  .sneaker-container>div>img{
    width:10rem;
   height: 11rem;
   
      
  }
  .sneaker-container>div{
    width:10rem;
    height: 11rem;

  }
  .sneaker-container{
    display:grid;
    row-gap:20rem;
  }

}
img{
  filter: drop-shadow(0px 2px 11px #2C3639);
  object-fit:scale-down;
  
}
select>option{
  background-color: #C6EBC5; 
  font-size:3vh;
  margin:auto;
  
}
.cart-container{
  position:fixed;
  right:1rem;
  top:1rem;
  border:solid 2px #94FFD8;
  border-radius:1rem;
  padding:0.5rem;
  color:#94FFD8;
  max-height:10rem;
  overflow-y:scroll;
  
  background-color:transparent;
}
.cart{

  
padding:1rem;


}
.cart-header{
  border-bottom:solid 2px #153448;
  

}
.cart-icon{
  width:2rem;
  position:fixed;
  top:1rem;
  right:1rem;
  border:solid 2px black;
  border-radius:1rem;
  padding:0.1rem;
 
  
 
  
}
.cart-items>li{
  border-top:solid 2px #153448;
  border-bottom:solid 2px #153448;
  padding:1rem;
  border-radius:1rem;
  background-color:#10439F;
}
nav{
  position:fixed;
  width:100%;
  z-index:1000;
}